$braap_grey: #696969;
$braap_light_grey: #E6E6E6;
$braap_bg_grey: #F7F7F7;
$braap_green: #238F23;
$braap_red: #AC0000;
$braap_yellow: #FFD740;
$braap_blue: #7393B3;
$braap_light_blue: #ABBED1;
$braap_part: #95BAF5;
$braap_light_part: #B2CDF8;
$braap_deep_blue: #0070C1;
$braap_orange: #E58A00;
$success: #238F23;

:export {
  braap_grey: $braap_grey;
  braap_light_grey: $braap_light_grey;
  braap_bg_grey: $braap_bg_grey;
  braap_green: $braap_green;
  braap_red: $braap_red;
  braap_yellow: $braap_yellow;
  braap_blue: $braap_blue;
  braap_light_blue: $braap_light_blue;
  braap_part: $braap_part;
  braap_light_part: $braap_light_part;
  braap_deep_blue: $braap_deep_blue;
  braap_orange: $braap_orange;
  success: $success;
}